html, body, input, div, p, span {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	font-family: 'Gentium Book Basic', serif;
}

svg path{
  stroke: #000;
  stroke-width: 1px;
  stroke: rgba(0,0,0,0.2);
}

.box {
	position: absolute;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
	padding: 10px;

	opacity: 0;
	display: none;
}
.box > input {
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
}
	.box > input[type=checkbox] {
		width: auto;
	}
.box > input:last-child {
	margin-bottom: 0;
}

.camera-control {
	width: 50%;
	margin: 0;
	font-size: 1.15em;
}


div.tooltip {
	position: absolute;
	text-align: center;
	padding: 10px;
	background: #FFFFFF;
	border: solid 2px #000000;
	pointer-events: none;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


#control {
	top: 20px;
	left: 20px;
	width: 200px;
}

.loading {
	top: 50%;
	left: 50%;
	margin: 0;
}
#loading-indicator {
	margin-left: -20px;
	margin-top: -20px;
}
#loading-text {
	width: 300px;
	height: 20px;
	text-align: center;
	margin-left: -150px;
	margin-top: 20px;
	position: relative;
}


#control-year {
	left: 260px;
	right: 260px;
	bottom: 20px;
}

#year-indicator {
	top: 20px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
}
#year-indicator > label {
	text-align: center;
	width: 100%;
	display: block;
}



.legend {
	max-width: 200px;
}

.legend > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.legend > ul > li {
	white-space: nowrap;
	position: relative;
	margin-bottom: 3px;
}
.legend > ul > li:last-child {
	margin-bottom: 0;
}
.legend > ul > li > div {
	width: 10px;
	height: 100%;
	position: absolute;
	display: inline-block;
}
.legend > ul > li > span {
	display: inline-block;
	position: relative;
	left: 20px;
	white-space: normal;
}
#legend-1 {
	left: 20px;
	bottom: 20px;
}
#legend-2 {
	right: 20px;
	bottom: 20px;
}


#description-text {
	right: 20px;
	top: 20px;

	max-width: 200px;
}
#description-text > p {
	margin-bottom: 10px;
}
#description-text > p:last-child {
	margin-bottom: 0;
}
