html, body, input, div, p, span {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Gentium Book Basic', serif;
}

svg {
}

.stream, .stream-selected, .stream-unselected {
    transition: opacity 0.5s, stroke-width 1s;
    cursor: pointer;
}

.stream-selected {
    stroke-width: 2px;
    opacity: 1;
    stroke: black;
}
.stream {
    stroke-width: 0px;
    opacity: 1;
}
.stream-unselected {
    stroke-width: 0px;
    opacity: 0.8;
}

.axis > path {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}


.box {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    padding: 10px;

    opacity: 0;
    display: none;
}
.box > input, .box > select {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}
.box > input:last-child, .box > select:last-child {
    margin-bottom: 0;
}


.help-text
{
    font-size: 0.8em;
}

.graph-title {
    font-size: 1.3em;
    text-weight: bold;
}

.loading {
    top: 50%;
    left: 50%;
    margin: 0;
}
#loading-indicator {
    margin-left: -20px;
    margin-top: -20px;
}
#loading-text {
    width: 300px;
    height: 20px;
    text-align: center;
    margin-left: -150px;
    margin-top: 20px;
    position: relative;
}


#control {
    top: 20px;
    left: 20px;
    width: 210px;
}

#control-year {
    left: 20%;
    width: 60%;
    bottom: 20px;
}

#year-indicator {
    top: 20px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
}
#year-indicator > label {
    text-align: center;
    width: 100%;
    display: block;
}


#logos {
    position: absolute;
    bottom: 10px;
    left: 10px;

    opacity: 0;
}
